-content_for :body_content_title do
  = @product.name

-content_for :body_content_left do
  #products_show

    #sidebar
      #product_image= image_tag @product.image.url
      #price= @product.price
      #purchase_button= raw @product.paypal_embed_code

    #main_content
      #details
        .name=raw @product.name
        .artist=raw @product.artist
        .catalog_number=raw "Catalog Number: #{@product.catalog_number}"
      #description=raw @product.description

= render "/shared/content_page"
